[2014-12-15 19:51] amanda-phet opened #1 "Details to modify in the latest dev version (1.0.0-dev.3)"
- [x] pre-set points should be 80% smaller than custom and have a white stroke
- [x] custom points should remain at 100% and have a black stroke
- [x] make the pile of points look more rounded and natural
- [x] make all text next to checkboxes 2 pts larger
- [x] align y = ax + b and sliders under equation readout
![screen shot 2014-12-15 at 12 36 08 pm](https://cloud.githubusercontent.com/assets/7

[2014-12-17 23:29] veillette commented on #1
The correlation coefficient Panel has been enlarged as well. It can be easily changed back if wanted.

[2015-01-05 18:43] bereaphysics opened #2 "track in sliders are missing in IE 11"
Depending on the size of the windows, the track of the sliders can disappear.
![2015-01-05 11_42_28-](https://cloud.githubusercontent.com/assets/7633344/5617837/15283fba-94d0-11e4-9ff6-395da9085a88.png)

Tested with http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.0.0-dev.4/least-squares-regression_en.html

[2015-01-05 19:21] bereaphysics opened #3 "In IE11, the axes and grid disappear when selecting "Internet Users Over Time" in 1.0.0-dev4"
![2015-01-05 12_18_34-](https://cloud.githubusercontent.com/assets/7633344/5618339/3e1664b0-94d5-11e4-87dc-1476c099e76e.png)

[2015-01-06 20:10] amanda-phet opened #4 "Small tweaks to make"
- [x] Add a space after "Source:" in popup dialog box
- [x] Change the title to "Least-Squares Regression" (add hyphen)
- [x] Remove axes labels on Custom data set so that they do not display "X" and "Y"
- [x] Remove "Best-fit Line" title when that panel is expanded
- [x] Remove leg stride data set
- [x] Edit some incorrect axes labels: Life Expectancy (years), Mean Orbital Speed (km/s), Distance

[2015-01-07 20:14] veillette commented on #4
See https://github.com/phetsims/least-squares-regression/commit/1ca386b36ce6d4fa120496393e4a92748ebabed1 for some of the changes

[2015-01-14 18:18] veillette commented on #3
IE does not support Math.log10(). It is changed to Math.log()/Math.LN10

[2015-01-14 18:18] #3 closed

[2015-01-14 19:21] veillette commented on #2
The track was made wider such that it stays visible under rescaling of the window

[2015-01-14 19:21] #2 closed

[2015-01-22 20:05] amanda-phet opened #5 "Keep the checkboxes in their current state when switching between data sets"
I noticed in interviews that if a student wanted to compare best-fit lines or the sums of the squared residuals between data sets, they would need to re-check the checkboxes that they had checked before. (The sim essentially resets upon selecting a new data set.)

I would like to change this behavior so that any checkboxes remain checked when switching between data sets.

[2015-01-23 00:26] veillette commented on #5
This is relatively easy to do
I can stop resetting the entire propertySet upon a change of DataSet. This has the unattended consequence of leaving the sliders in the same position though. Let me know if you prefer to reset the sliders and I can cherry pick which property to reset/not reset.

[2015-01-29 20:22] pixelzoom opened #6 "code review"
Do this after dev testing. @bereaphysics, please let me know when it's ready, and assign back to me.

[2015-01-29 22:01] ariel-phet opened #7 "Create sources of data document for repo"
would be good to have a doc in the repo that shows all the data sources are open source

[2015-01-30 03:27] veillette commented on #5
Closing this after the review meeting

[2015-01-30 03:27] #5 closed

[2015-02-11 19:19] phet-steele opened #8 "Squared Residuals Layering"
If enough squares overlap in one area, they can cover both lines and residuals, and grid lines. The screenshots are a more extreme case with many dots, but the opacity starts to increase quickly just after a few.
![orphan dots](https://cloud.githubusercontent.com/assets/5863899/6153887/00f46758-b1e5-11e4-9db7-4ec62b3b1b17.png)

Any newly dragged dots will have their residuals layered above the squ

[2015-02-11 20:00] phet-steele opened #9 "Chrome Correlation Coefficient Values and Hidden UI"
This has only happened in Chrome. Directly overlapping two dots causes odd behavior and can cause the UI to disappear, yet still be functional. The correlation coefficient also is displayed as either NaN or Infinity. Reproducing this can be tricky, but all that needs to happen is getting two dots right on top of each other, and there must not be other dots present. Tested in Win 8.1

Video:
https:

[2015-02-11 20:27] phet-steele opened #10 "Cursor could change to a hand when source and reference dialogue is open"
Instead of remaining the default mouse, when a user clicks on the question mark to open the source and reference dialogue the cursor could change to a hand. This could happen either over the whole screen or just on the "X" above the box.

[2015-02-13 20:04] phet-steele opened #11 "Draggable dot on non-custom data screens"
Easily seen on multitouch devices (I've seen it on iPads and touchscreen Win7, Win8.1).
The user can drag a dot out of the box in the custom screen, then while continuing to hold their finger on the dot use a different finger to switch to one of the preset data sets. The user will still be in control of a now invisible dot. Enabling residuals makes it clear that you are controlling a dot.
Seen on

[2015-02-13 21:21] phet-steele opened #12 "Vertical slider issues"
This sim has the issue: phetsims/molarity/issues/17

Troubleshooting information:
Name: Molarity
URL: http://www.colorado.edu/physics/phet/dev/html/molarity/1.1.0/molarity_en.html
Version: 1.1.0
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.111 Safari/537.36
Language: en-us
Window: 1366x643
Pixel Ratio: 1/1
WebGL: We

[2015-02-15 22:26] veillette commented on #10
This has been enabled. Closing

[2015-02-15 22:28] #10 closed

[2015-02-17 00:20] veillette commented on #12
The slider had been replaced by the HSlider. Assigning the issue to @phet-steele. I'll push a new dev version to see if the problem is resolved.

[2015-02-17 02:32] veillette commented on #11
A dispose function was added to unlink the listeners to the dataPoints. This fixes this issue.
The dispose function was added to the reset function (which had a similar issue)
closing

[2015-02-17 02:32] #11 closed

[2015-02-19 01:38] veillette commented on #9
fixed and tested so closing

[2015-02-19 01:38] #9 closed

[2015-02-19 01:41] veillette commented on #12
This is still present so it must be present in all sims using HSlider.

[2015-02-19 01:44] veillette commented on #6
Assigning to @pixelzoom for code review.

[2015-02-19 16:44] bryo5363 opened #13 "Possible Bug: Square residuals change colors depending on placement"
Test device: MacBook Pro

Operating System: OSX 10.10.1

Browser: Safari 8.0 (10600.1.25.1)

Problem description: When adding more points in the "custom" option, the squared residuals will alternate color depending on placement of the point.

I am not extremely familiar with least square regression but I believe this might be abnormal behavior

Steps to reproduce:
-open sim
-drag many points on th

[2015-02-19 17:47] pixelzoom opened #14 "questions about images directory"
The images/ directory contains 2 files. Looks like they have identical content, aren't used anywhere, and were probably used for initial layout.  Can they be deleted? If not, then they need to be accounted for in images/license.txt.

[2015-02-19 17:51] amanda-phet commented on #13
I think what is happening here is the red squares are flipping around the residual line. The squares are formed by taking a vertical line from a point to the line (residual) and making a square to the left or right side depending on whether the point is above or below the line. When you move a point, it changes the location of the best-fit line, and hence changes the location of the squares for so

[2015-02-19 17:52] pixelzoom opened #15 "suffix on doc/ files"
PhET has been using .txt (plain text) for these files, but this sim (and charges-and-fields) uses .md (markdown) files.  They do look nice when viewed in GitHub.  We should have a developer discussion about whether .md is OK.  I think it's fine for implementation-notes.txt, since they will likely be viewed by developers on GitHub.  But I'm not clear on the intended audience for model.txt - it was

[2015-02-19 17:55] bryo5363 commented on #13
@amanda-phet That's what I was thinking; it gets quite convoluted once many data points are on the graph and becomes nearly impossible to see the best fit lines. Maybe a black outline on each curve would make the lines more apparent?

[2015-02-19 17:59] pixelzoom opened #16 "credits need to be filled in"
Credits need to be filled in, see simOptions.credits in least-squares-regression-main.js.

[2015-02-19 18:06] pixelzoom opened #17 "PhetFont convenience constructor"
I see fonts instantiated like this in LeastSquaresRegressionConstants:

Just wanted you to be aware that when specifying only the size, there is a convenience constructor that can be used like this:

The style you're using is perfectly acceptable. So whether you want to change anything or not is up to you. Feel free to close this issue without review.

[2015-02-19 18:09] pixelzoom opened #18 "unnecessary override of reset()"
In DataPoint, it's unnecessary to override `reset`.

[code]

For future reference, if you override a function, document with the @override annotation.

[2015-02-19 18:19] pixelzoom opened #19 "DataSet doc"
When https://github.com/phetsims/least-squares-regression/issues/15 is resolved, put a comment in DataSet that says something like:

[2015-02-19 18:25] pixelzoom opened #20 "doc in DataSet"
A couple questions about DataSet.

In createDataSet, the name parameter is documented like this:

It looks like there are some extra ')' and '{' in this. Should it be this?

In createDataSet, there are 2 of these comments, which don't tell me anything:

Are they actual comments, or vestigial code that has been commented out?

[2015-02-19 18:36] pixelzoom commented on #20
Moved this from #19,... When #15 is resolved, put a comment in DataSet that says something like:

[2015-02-19 18:36] pixelzoom commented on #19
Moved into #20.

[2015-02-19 18:36] #19 closed

[2015-02-19 18:40] pixelzoom commented on #6
A few trivial commits that I made while doing the review:
https://github.com/phetsims/least-squares-regression/commit/4e597a319a8ef2dc5ac2a02a26cce6912f4c26a0
https://github.com/phetsims/least-squares-regression/commit/78fb4886f9267e2a7f6305f7f1c8572ae4c246f1
https://github.com/phetsims/least-squares-regression/commit/344b62ec7feacb9443a3a374ebed25b4db9121fb

[2015-02-19 18:53] pixelzoom opened #21 "points off the graph"
Noticed during code review #6.  When the "Height vs. Shoe Size" data set is selected, some points are off the graph. I'm not sure whether that's allowed or not, so I thought I'd mention it.   If this is expected, feel free to close.

Here's a screenshot:

![screenshot_460](https://cloud.githubusercontent.com/assets/3046552/6273579/c1834cf2-b82d-11e4-91a0-382f81249215.png)

[2015-02-19 19:12] pixelzoom opened #22 "GraphAxesNode copied from graphing-lines?"
GraphAxesNode looks like a fair amount of the code was copied from graphings-lines.GraphNode. I don't know how much you had to change to make it work for this sim. But do you think it would be feasible (or worth the effort) to generalize graphings-lines.GraphNode, and use in both sims?

[2015-02-19 19:28] pixelzoom opened #23 "should 'x' and 'y' be translatable?"
In graphing-lines, 'x' and 'y' were required to be translatable.

Why is that not the case for this sim? They are currently hardcoded, and appear in 2 places:

EquationNode: 'x', 'y ='
MyLineControlPanel: 'x +', 'y ='

[2015-02-19 20:01] pixelzoom opened #24 "error when line is off the graph"
This was reported in scenery (https://github.com/phetsims/scenery/issues/387), but making an issue here too.  When if you move the 'a' and/or 'b' sliders such that the line is fully off the graph (fully clipped), then Errors are thrown. Here's the console log:

![screenshot_461](https://cloud.githubusercontent.com/assets/3046552/6274784/30031488-b837-11e4-8b87-43d506650172.png)

[2015-02-19 22:40] veillette commented on #18
@jbphet explained me of the purpose of the PropertySet.prototype.reset.call( this ) and a lightbulb went off. OK I removed the reset method. Assigning to @pixelzoom  for review.

[2015-02-19 22:42] veillette commented on #16
The credits have been filled from the design document.

[2015-02-19 22:42] veillette commented on #16
Assigning to @pixelzoom for review

[2015-02-20 16:42] #18 closed

[2015-02-20 18:56] pixelzoom commented on #16
Looks good. I made a couple of changes to make the credits follow PhET conventions:

(1) The credits should be listed in alphabetical order. So I reordered 'team'.

(2) The leadDesigner does not need to be included in other categories. They are by default part of the team and QA.  So I removed AM from 'qualityAssurance'.

Assigning back to @bereaphysics in case you have any questions. Feel free to

[2015-02-20 18:58] pixelzoom commented on #16
Btw... I don't know if the PhET conventions for credits are included in any public-facing document. They were arrived at in https://github.com/phetsims/joist/issues/157.

[2015-02-20 19:25] pixelzoom opened #25 "layout of equations relies on magic numbers"
EquationNode contains this TODO item, shown in context:

[code]

Here's EquationNode in context (top equation in the screenshot). The equation below it is created by MyLineControlPanel.

![screenshot_462](https://cloud.githubusercontent.com/assets/3046552/6307673/eb2483be-b8fa-11e4-876f-7e198e4fc7a3.png)

The problem is how to maintain horizontal layout of the elements in the 2 equations and slide

[2015-02-20 19:29] pixelzoom commented on #25
To illustrate how the layout is flawed, here's what it looks like if 'x' is I change to 'xxx'.  It's unlikely that anyone will substitute multiple characters for 'x'. But the point is that any character that does not have the same width as 'x' in Ariel 16-point is going to have cause problems.  And that will certainly be the case in in other locales, which may use other fonts.

![screenshot_464](h

[2015-02-20 20:42] pixelzoom opened #26 "positioning a node whose bounds are Bounds2.NOTHING"
DataPointNode constructor looks like this:

[code]

The problem here is that an attempt is made (`self.center =`) to position a node whose bounds are Bounds2.NOTHING (a Node with no children).  Scenery currently has a bug that is preventing this assertion from firing (see https://github.com/phetsims/scenery/issues/388). So this bug is being masked, and when scenery is fixed, this is going to fail.

[2015-02-20 20:48] pixelzoom opened #27 "use TWEEN?"
Address this TODO item in DataPoint:

I don't have any recommendation on whether to use TWEEN, since I haven't used it yet. Best to consult with one of the other developers who has used it.  In any case, this seems like a decision that could result in significant changes, so best to address it before the sim enters the test process.

[2015-02-20 21:12] pixelzoom opened #28 "memory leaks?"
This sim calls `link` 25 times, `linkAttribute` 5 times, `multilink` 2 times, and creates 4 derived properties (`axon.DerivedProperty`).  There are also UI components (CheckBox, HSlider,..) that link to one or more axon.Property internally.

Looking at the code, it's difficult for me to determine whether observers need to be unlinked, and (if needed) when that unlinking should occur.

There are al

[2015-02-20 21:19] pixelzoom commented on #6
I've completed the code review. Overall, the code is in excellent shape - very easy to read, well organized, well documented (well done!). I've created a few issues, all labeled as `code review`.  I've assigned #25 to myself, to come up with a recommendation. The others are assigned to @bereaphysics.  Let me know if you have any questions.

[2015-02-20 21:33] pixelzoom opened #29 "use of white boxes?"
While investigating #25, these design-related questions came to mind, and could affect how we resolve #25 (equation layout).

(1) Why is the "best fit" line shown with a white box (sun.Panel) around it, like the line in the "My Line" control panel? It makes it look like a text field, sending the cue that the "best fit" line is dynamic/editable (like My Line), which it is not.

(2) Ditto for the `r

[2015-02-20 21:36] pixelzoom commented on #29
Screenshot of the UI elements in question...

![screenshot_465](https://cloud.githubusercontent.com/assets/3046552/6309781/d44c4fc4-b90d-11e4-98ab-e45d10898bd7.png)

[2015-02-20 21:46] pixelzoom commented on #29
Also wondering about the "My Line" equation. The slope and intercept values are editable, other parts of the equation are not. And you want to tie this equation to the one below it. Why make the entire equation look like a text field? Why not put white boxes around just the editable parts?

What it looks like now:

![screenshot_466](https://cloud.githubusercontent.com/assets/3046552/6309824/21743a

[2015-02-20 21:54] veillette commented on #29
I'll bring it up to the design team.  The coefficient of correlation used to be its own panel. Much later on it was wrapped around an accordion box so that it can be hidden but it was left with the white box.. So we may need to revisit this.

[2015-02-20 21:54] pixelzoom commented on #29
If sign of intercept is an issue, you could do this:

![screenshot_467](https://cloud.githubusercontent.com/assets/3046552/6310058/5ed62208-b910-11e4-94de-4b71de24ced6.png)

[2015-02-20 21:55] pixelzoom commented on #29
If sign of the intercept is an issue, it could look like this:

![revised2](https://cloud.githubusercontent.com/assets/3046552/6310074/766c22c8-b910-11e4-8075-8f1fc0dc8cc6.png)

[2015-02-20 21:55] veillette commented on #6
Thanks @pixelzoom.

[2015-02-20 22:00] pixelzoom commented on #25
My recommendation on this will depend on the outcome of #29.  But I think that you'll want to have default layout metrics in EquationNode's options, which can be overridden.  And the values of those metrics in MyLineControl panel will be computed based on:
- minimum distance between the sliders, based on the width of the sliders
- maximum width of the slope and intercept, based on their min/max va

[2015-02-24 02:25] veillette commented on #14
the Mockup images have been deleted. Assigning to @pixelzoom for review.

[2015-02-24 02:30] veillette commented on #17
Ok thanks for letting me know. I'll leave it as it. closing

[2015-02-24 02:30] #17 closed

[2015-02-24 02:45] veillette commented on #26
Indeed that makes sense.  Now, DataPointNode takes an representation and parameter.   StaticDataPointNode and DynamicDataPointNode had to be adjusted accordingly. Assigning to @pixelzoom for review.

[2015-02-24 02:56] veillette commented on #21
Extended the vertical range to include all the dataPoints within the graph. Assigning to @pixelzoom for review.

[2015-02-24 18:33] pixelzoom commented on #15
2/25/15 dev meeting:

[2015-02-24 19:48] veillette commented on #15
the indenting of the files was fixed. I'm going tp go ahead and close this issue.

[2015-02-24 19:48] #15 closed

[2015-02-24 19:53] pixelzoom commented on #26
Looks good, closing.

[2015-02-24 19:53] #26 closed

[2015-02-24 19:53] #14 closed

[2015-02-24 19:55] pixelzoom commented on #21
Looks great, closing.

[2015-02-24 19:55] #21 closed

[2015-02-24 19:58] veillette commented on #20
The vestigial code lines have been removed and the reference to the documentation notes was added.  (this is preferable than the model.md since it is supposed to be for the teachers). Assigning to @pixelzoom for review.

[2015-02-24 20:07] #20 closed

[2015-02-24 22:50] veillette commented on #16
@amanda-phet and I looked at the credits. It looks good. closing

[2015-02-24 22:50] #16 closed

[2015-02-25 02:10] veillette commented on #23
forgot to tag the issue.
https://github.com/phetsims/least-squares-regression/commit/d79a365a9290e2721fab12afb334de67dbaf971b

[2015-02-25 02:14] veillette commented on #23
The x and y symbols are now translatable. Major changes to the layout of the equation as well so best to see this fix with #25 .

[2015-02-25 02:25] veillette commented on #25
I came up with a partial solution. It relies less on magic numbers and will handle change of font size or translation of the x and y strings. It is not the broadest solution you suggested: it doesn't take into account the spacing between sliders for instance, it assumes that even though 'a' and 'b' strings might be larger in translation, they wont be larger than 4 characters.

[2015-02-25 02:47] veillette commented on #13
We will have the best fit line and my line on a higher z level (but beneath the data points). This should address a similar concern raised in #8.

[2015-02-25 02:48] veillette commented on #8
This can be solved by having the lines be on top of the squares. This will be addressed in #13. closing.

[2015-02-25 19:06] veillette commented on #22
There is a handful of differences. The major one is the strategy to determine the tick spacing which  is handled dynamically in GraphAxesNodes (based on the range of the graph). Also the position of the axes is different and uses lines instead of arrows. GraphAxesNodes is also responsible for the x and y labels. In addition there is a listener to the grid in GraphAxesNodes.  The origin label ticks

[2015-02-25 19:16] pixelzoom commented on #22
I'm OK with leaving it as is. I don't have time to reconcile the 2 versions. And rather than reconciling the 2 versions, this basic functionality should be provided by `griddle` (chart repository). So I've created https://github.com/phetsims/griddle/issues/9.

@bereaphysics please add any other thoughts, then feel free to close this issue.

[2015-02-25 19:19] pixelzoom commented on #23
Looks good, and I will review #25 separately. Closing.

[2015-02-25 19:19] #23 closed

[2015-02-25 21:11] pixelzoom commented on #25
Looks much better.

One suggestion for improvement...The fact that values are limited to 2 decimal places is spread out, not encapsulated.  You have this in EquationNode.roundNumber:

And these values with 2 decimal place in MyControlPanel:

It would be preferable to do aways with the EquationNode constructor parameters, and promote options.maxDecimalPlaces to EquationNode's options. Or if it does

[2015-02-25 21:13] pixelzoom commented on #25
Looks much better.

One suggestion for improvement...The fact that values are limited to 2 decimal places is spread out, not encapsulated.  You have this in EquationNode.roundNumber:

And these values with 2 decimal places in MyControlPanel:

and in BestFitLineControlPanel, the same thing:

This means changing (and finding!) 3 sites if you want to change the number of decimal places.

It would be

[2015-02-25 21:16] pixelzoom commented on #25
To compute the max width strings:

[2015-02-26 00:00] amanda-phet commented on #29
I think the readout that was used in Beer's Law Lab will work here.
![screen shot 2015-02-25 at 4 58 19 pm](https://cloud.githubusercontent.com/assets/7852916/6383618/b53ef7c0-bd0f-11e4-8b93-f85e80662736.png)

We want the readout to stand out, but not look editable, so I think something as simple as a gray stroke (rather than black) will work here:
![screen shot 2015-02-25 at 4 59 52 pm](https://c

[2015-02-26 02:13] veillette commented on #13
The best fit line and my line is on top of the residuals.

[2015-02-26 02:13] #13 closed

[2015-02-26 02:17] veillette commented on #8
Reopening. even though the lines are on top it can look very busy. I'm opened to explore other options.

[2015-02-26 03:52] veillette commented on #25
Good idea. I couldn't get this _.repeat to work though.   My solution is a little bit less elegant.

[code]

and I removed the fake numbers from the two control  Panels.

[2015-02-26 17:12] veillette commented on #7
We can add this to doc/model.md if you want.

[2015-02-27 01:07] veillette commented on #29
It was decided to go with the white panels with the gray stroke so I'm closing this tissue.

[2015-02-27 01:07] #29 closed

[2015-02-27 01:14] bereaphysics opened #30 "New design tweaks (based on dev version 11)"
- [x] use a gray stroke around  the three white boxes in the control panel. use rgb(204,204,204).
- [x] keep Best Fit Line title at all times in control panel
- [x] make slope and intercept values bold in My Line Equation (for numbers).
- [x] make entire  Best Fit Line Equation red, no bold, using the same color as the best fit line on graph
- [x] move up  button box in correlation coefficient pan

[2015-02-27 02:24] veillette commented on #30
It is not possible to move up the buttonBoxin the correlation coefficient panel.  AccordionBox (a common code component) has this wired.

[code]

[2015-02-27 02:26] veillette commented on #1
Make the last tic on the graph a major tic mark  is true except for size vs shoe size. (in dev 11).

[2015-02-27 02:26] #1 closed

[2015-02-27 02:27] veillette commented on #4
It was decided not to use a unit toggle. closing

[2015-02-27 02:27] #4 closed

[2015-02-27 02:28] pixelzoom commented on #30
I'm not clear on what you're trying to do. Can you describe, or show a mockup?

[2015-02-27 02:28] pixelzoom commented on #30
@bereaphysics said:

I'm not clear on what you're trying to do. Can you describe, or show a mockup?

[2015-02-27 02:33] pixelzoom commented on #30
If you're trying to align the tops of the expand/collapse button and the 'Correlation Coefficient' title, we could add this option to AccordionBox:

...but it's something that I would push back on.

[2015-02-27 02:35] veillette commented on #30
Correct, the design team wanted to align by the tops of the title and expanded/collapse button.

[2015-02-27 02:36] veillette commented on #30
This is an unusual situation since the title uses multiline. This is not something that is likely to come up again.

[2015-02-27 03:01] veillette commented on #25
In light of recent redesign tweaks (see #30) , there were additional changes to the API of Equation Node since the myLine and bestFitLine equations have different font options.  It might be worth your time to (re)review EquationNode.js

https://github.com/phetsims/least-squares-regression/blob/master/js/least-squares-regression/view/EquationNode.js

Assigning to @pixelzoom for review.

[2015-02-27 03:08] pixelzoom commented on #25
Looks great. Like the color coordination of the best-fit line and equation.

Closing.

[2015-02-27 03:08] #25 closed

[2015-02-27 03:11] pixelzoom commented on #30
I estimate that it would take 15-30 minutes to add options.titleAlignY to AccordionBox. I had proposed values 'top'|'bottom'|'center'.  But I can't imagine 'bottom' ever being desirable.

[2015-02-27 20:35] veillette commented on #30
If you are willing to implement it. You will have the first test case in LSR.

[2015-02-27 20:42] veillette commented on #22
It would be interesting to generate a charting utility that can do the layout but it seems like a lof ot work because there are so many cases/uses to consider. I think this is out of my league.

[2015-02-27 20:42] #22 closed

[2015-02-27 22:42] veillette commented on #28
I have added three dispose functions to the Nodes that come and go (DataPointNode, GraphAxesNodes, and ResidualLineAndSquareNode). In addition, special attention was paid to the observable array dataPoints since many functions had position listeners.
It certainly improved the chrome profiling, but the heap is still increasing over long time. I have only a crude understanding of chrome profiling to

[2015-02-27 23:17] pixelzoom commented on #30
@bereaphysics I added titleAlignY to AccordionBox, and set it to 'top' for the 'Correlation Coefficient' accordion box.

[2015-02-27 23:49] veillette commented on #30
Looks good, this will please @amanda-phet . Closing.

[2015-02-27 23:49] #30 closed

[2015-03-01 04:08] veillette commented on #24
This was fixed in https://github.com/phetsims/scenery/issues/387 . @jonathanolson  did not tag his commit on it but I can confirm that it works, so closing.

[2015-03-01 04:08] #24 closed

[2015-03-01 06:31] veillette commented on #28
Ok I see that garbage collection occurs on its own timewatch. Forcing garbage collection shows that plenty of things get collected so I'm doing something correct. Ok assigning to @pixelzoom  for review.

[2015-03-01 08:27] jonathanolson commented on #24
If it's helpful, it was https://github.com/phetsims/scenery/commit/dfc87c71f0bdd6098ed98f4a888d78609b35aaf2

[2015-03-02 19:33] pixelzoom commented on #28
I don't have time to do a comprehensive memory test. But did a couple of heap snapshot comparisons in Chrome, and I don't see any obvious memory leaks.  So since you seem confident that you've addressed link/unlink, I'm closing this issue.

[2015-03-02 19:33] #28 closed

[2015-03-02 19:39] pixelzoom opened #31 "custom data set is cleared when switching to some other data set"
When you switch to one of the preset data sets, your custom data set is automatically cleared. This makes it difficult to compare your custom data-set to any of the other 'preset' data sets. And since there is an eraser button next to the bucket, I'm not sure why it's desirable to clear the custom data set.

Steps to reproduce:
1. Start the sim. 'Custom' will be selected in the combo box.
2. Drag

[2015-03-03 21:35] veillette commented on #31
@amanda-phet agreed that the custom data set should not be cleared.

[2015-03-03 23:09] veillette commented on #31
Assigning to @pixelzoom for code review.

We will need to have the QA team look at this feature since it may impact performance if the number of dataPoints is large, it might take a significant time to get back to CUSTOM.

[2015-03-03 23:22] pixelzoom commented on #31
Works great, closing.

[2015-03-03 23:22] #31 closed

[2015-03-04 19:19] veillette commented on #27
I have implemented the animation for the dataPoints using Tween. It does simplify somewhat the code.  There is no more step function. One of the downside of this approach though is that it is no longer possible to recapture a dataPoint  in midflight (a pretty marginal feature at best). @amanda-phet  approved the easing in of the dataPoints. Assigning to @pixelzoom  for review.

[2015-03-04 20:27] phet-steele opened #32 "Source and reference dialogue box grammar"
@bereaphysics is already aware of these and I believe the fix has already occurred. In 1.0.0-dev.13 there are a couple things to be changed.

1. In the four Temperature (F and C) vs. Longitude/Latitude data sets, the dialogue reads "Average January temperature in fifty major US compared to their longitudes/latitudes" where the word "cities" needs to be added between "US compared".

2. I caught thr

[2015-03-04 21:03] veillette commented on #32
I addressed the first two issues in this commit https://github.com/phetsims/least-squares-regression/commit/98b3a76a1b88b29743849a60c53d85c5b7dfa942

[2015-03-04 21:53] pixelzoom commented on #27
@bereaphysics I haven't used TWEEN, so I can't really review the changes for approach or correctness. If you want someone to review it in that regard, you might try @jbphet or @samreid.  Or feel free to just close this issue, since the TODO item has been addressed.

[2015-03-04 21:54] pixelzoom commented on #6
All issues labeled `code review` have been addressed. Closing.

[2015-03-04 21:54] #6 closed

[2015-03-04 22:48] veillette commented on #27
@jbphet had a look at it earlier today so closing

[2015-03-04 22:48] #27 closed

[2015-03-05 23:38] veillette commented on #32
Assigning the third point to @amanda-phet .

[2015-03-06 17:14] amanda-phet commented on #32
I think that is a good idea. Thanks @phet-steele for the suggestion and attention to detail!

[2015-03-06 21:17] bereaphysics opened #33 "Use colorBlind red for Best Fit Line and sum of least squares chart"

[2015-03-10 19:37] ariel-phet opened #34 "Switching between data sets could be "snappier""
Currently in RC.1 switching between data sets on the iPad is a bit slow (fair bit of delay, especially when switching back to the custom mode if many custom data points were placed).

Otherwise, the sim runs very smoothly.

@bereaphysics will talk with @jonathanolson to see if there is an easy way to improve this performance.

[2015-03-12 17:05] samreid commented on #34
Here's a bird's-eye view of where the time is being spent:

![image](https://cloud.githubusercontent.com/assets/679486/6623286/b2de886c-c8a7-11e4-8e92-492564a7afb6.png)

[2015-03-13 18:52] jonathanolson opened #35 "Dragging from bucket body ideally should pull data point out"
In sims with buckets, I've been used to mouse-downs on the bucket OR particles dragging a particle out, and I think it's more usable.

[2015-03-13 18:53] ariel-phet commented on #34
@jonathanolson said he would take a look to see if some optimization can occur

[2015-03-13 18:55] ariel-phet commented on #35
@amanda-phet - please make the call if you think this would be OK. I generally agree it makes the sim more usable (basically anywhere you grab on the bucket with touch or mouse grabs a particle for you)

[2015-03-13 22:27] amanda-phet commented on #35
I am definitely OK with it! I got used to aiming my cursor for the orange pile but I agree that anywhere in the bucket makes sense.

[2015-03-17 18:23] veillette commented on #32
Done. Closing.

[2015-03-17 18:23] #32 closed

[2015-03-18 18:54] veillette commented on #34
Forgot to tag this last commit
https://github.com/phetsims/least-squares-regression/commit/90c903c2f4cb8194581887018d8d3a687c43588e

[2015-03-18 18:58] veillette commented on #34
It is definitely speedier. It will need some regression testing before moving ahead. I'll assign to @ariel-phet for review.

[2015-03-18 19:57] veillette commented on #35
implemenetd and tested by @phet-steel in version 1.0.0.dev14.
closing

[2015-03-18 19:57] #35 closed

[2015-03-18 19:58] veillette commented on #33
After running the color blind test , it was found that the sim does not need color blind red. closing

[2015-03-18 19:58] #33 closed

[2015-03-19 19:06] ariel-phet commented on #34
I looked at this issue with @bereaphysics, it seems like performance is now acceptable on iPad2

[2015-03-19 19:06] #34 closed

[2015-03-23 18:19] ariel-phet opened #36 "Layering of "sum bar" over axis arrow"
@bereaphysics, this is a pretty minor point, but it looks like when the sum bar extends to its maximum it covers the top half of the x-axis arrowhead. See below. I thin it would be better if the full arrowhead were still visible.

![capture](https://cloud.githubusercontent.com/assets/4051174/6787188/c133a886-d156-11e4-9829-68c25df6f1a2.PNG)

[2015-03-23 18:37] ariel-phet opened #37 "Sum of squares indicator not resetting properly"
This bug does not seem to be platform specific.

To reproduce:
1. Open the sim in its default state
2. Place several points in the play area (not in a straight line)
3. Press the Reset All button
4. Turn on the "Squared Residuals" check box in both the best-fit and my line panels

Even though no points are present, and no "r" is shown, the indicator for the sum have no reset to zero

![capture2](h

[2015-03-23 19:58] amanda-phet opened #38 "My line slope slider lags"
Test device: Macbook Pro
Operating System: OSX 10.10.2 (Yosemite)
Browser: Firefox
Problem description: When using the "height vs. shoe size" data set, and My Line and Squared Residuals are checked, the slider that controls slope lags a bit and then jumps to catch up.
Steps to reproduce: Open "height vs. shoe size" and click Squared Residuals. Drag the slope slider.
Severity: low-medium

Troublesh

[2015-03-23 21:22] amanda-phet opened #39 "You can drag a point from different places on that point"
I noticed that sometimes it was difficult to precisely place a point because my cursor (the hand) was covering the point. After many trials, I realize that you can grab a point from the center or anywhere around the circumference, which will impact the position of the hand and the point.

Is the only way to change this to have every point jump up above your cursor/finger? Should we do this? I'm OK

[2015-03-25 18:36] veillette commented on #36
On the z-order, the arrow head has been put on top of the barrometer

[2015-03-25 18:36] #36 closed

[2015-03-25 18:53] orejolaphet commented on #37
Occurs  in OSX 10.9.2 Safari 7.0.5 & Win 7 IE 10

[2015-03-25 18:54] veillette commented on #39
Assigning to @amanda-phet for review.

[2015-03-25 21:06] amanda-phet commented on #39
Looks great!

[2015-03-25 21:06] #39 closed

[2015-03-25 22:38] veillette commented on #37
the sum of squared residuals has a reset function that can be called from the resetAll button

[2015-03-26 19:13] #37 closed

[2015-03-26 19:40] veillette commented on #38
I'm punting on this one since it affects only one particular data sets. The reason for the slow performance is that this data sets contains a lot of dataPoints and therefore there are a lot of line residuals and square residuals to render.

[2015-03-26 22:10] amanda-phet commented on #38
Sounds good. Closing.

[2015-03-26 22:10] #38 closed

[2015-03-31 20:23] pixelzoom opened #40 "branch: poolable"
Please describe or delete if not longer needed.

[2015-04-03 20:37] pixelzoom opened #41 "generate "published" README"
When a sim is published, it's README needed to be updated.  And a URL needs to be added in the GitHub description, see screenshot below.

![screenshot_496](https://cloud.githubusercontent.com/assets/3046552/6988468/ff9e6e42-da0e-11e4-9871-be75f498c894.png)

[2015-04-03 20:39] #41 closed

[2015-04-03 20:39] pixelzoom commented on #41
@bereaphysics just wanted to let you know that I took care of this.

[2015-04-18 20:03] veillette commented on #40
poolable was a branch where we pool properties in order to enhance performance. This was done prior to the release of 1.0. It is is no longer needed.

[2015-04-23 19:23] amanda-phet commented on #7
This was completed on March 30th. Closing.

[2015-04-23 19:23] #7 closed

[2015-04-23 19:27] veillette commented on #40
poolable branch has been deleted

[2015-04-23 19:27] #40 closed

[2015-04-28 16:42] pixelzoom opened #42 "least-squares-regression fails to build"
[code]

[2015-04-28 20:50] pixelzoom commented on #42
This is similar to https://github.com/phetsims/molecule-shapes/issues/122. I suspect that it's caused by changes made to the string plugin, and that it's not handling the empty string properly.

[2015-04-28 21:41] pixelzoom commented on #42
@bereaphysics This is indeed a problem with the build process, and is being worked out in phetsims/molecule-shapes#122.

But as with molecule-shapes, I'm wondering why least-squares-regression has empty strings in its strings file.  Specifically, these entries in least-squares-regression-strings_en.json:

[code]

Are you allowing translators to set labels for some things that don't have labels in

[2015-04-28 22:08] veillette commented on #42
There are about 50 or so string for least squares regression that have to do with data sets. Custom is a data set with empty strings and it was put in there for consistency with the other data sets.
 However it is perhaps wiser not to propagate the empty strings all the way to the json file since we probably don't want this to be translated. It is preferable to put the empty strings directly into

[2015-04-28 22:12] veillette commented on #42
Oops forgot to tag. https://github.com/phetsims/least-squares-regression/commit/0d7d63703cec8243de3f3a051bb5152c420ce082
Assigning to @pixelzoom for review.

[2015-04-28 22:32] pixelzoom commented on #42
Sounds like the right thing to do. Looks good. Closing.

[2015-04-28 22:32] #42 closed

[2015-05-26 19:58] orejolaphet opened #43 "Issue "?stringTest=double" covering buttons"
Testing for task https://github.com/phetsims/tasks/issues/245
Menu drop down arrows are covered
![screen shot 2015-05-26 at 1 55 17 pm](https://cloud.githubusercontent.com/assets/5631059/7821915/38eb5024-03af-11e5-9a09-0b80b3c1c4c6.png)

[2015-10-09 23:30] jonathanolson opened #44 "Automated testing issue"
[code]

[2015-10-27 20:36] jonathanolson commented on #44
Still present.

[2015-10-27 20:39] jonathanolson opened #45 "Another automated testing issue"
Since this was in a build, turning off mangling for reproduction should help narrow it down

[code]

[2015-11-10 19:11] pixelzoom opened #46 "uncaught error at startup"
Stack trace shown below. Looks like HSlider is being called with a bogus `parent` argument.

![screenshot_92](https://cloud.githubusercontent.com/assets/3046552/11072659/0c08e64c-87a4-11e5-8c25-912b79d12a8a.png)

[2015-11-16 06:28] pixelzoom commented on #46
And another noted with test-server:

[code]

[2015-11-19 06:21] #44 closed

[2015-11-19 06:21] #45 closed

[2015-11-19 06:21] #46 closed

[2015-11-19 06:22] jonathanolson opened #47 "Usage of @private addTick in HSlider"
In https://github.com/phetsims/least-squares-regression/commit/8b38a863c1dd783dbad9f78feb72c373c8eeb84a, in order to fix the startup error, I had to point addTick (@private) to majorTicksParent (@private), so they'll both need to be fixed.

May require adding another type of tick to do what is being accomplished.

[2016-01-11 20:45] ariel-phet opened #48 "Prep for S2015R"
Look into performing string tests, triaging issues, and setting up a dev test.

[2016-01-21 17:22] phet-steele opened #49 "?stringTest=Double expands panels over graph area"
With ?stringTest-double, the panels on either side expand into the graph area and are layered underneath points, lines, and squared residuals. The drop-down menu aslo expands drastically, and the whole sim gets quite unusable with ?stringTest=long.

![lsr dub](https://cloud.githubusercontent.com/assets/5863899/12488369/73c62490-c028-11e5-9be8-a8b92b3d770e.PNG)

Tested on phettest with Win 8.1 FF.

[2016-02-15 20:16] ariel-phet commented on #48
Closing, since only going to fix i18n issues currently

[2016-02-15 20:16] #48 closed

[2016-02-15 21:54] pixelzoom commented on #43
Duplicate of #49.

[2016-02-15 21:54] #43 closed

[2016-03-10 00:55] jessegreenberg commented on #49
Layout with stringTest=double and stringTest=long is looking nice now:

![layout](https://cloud.githubusercontent.com/assets/6396244/13655899/00004194-e620-11e5-9c6e-5c4c25983f2a.PNG)

Closing.  If any i18n layout problems come out of RC testing, new issues can be created.

[2016-03-10 00:55] #49 closed

[2016-03-10 01:03] jessegreenberg commented on #47
Since HSlider does not support ticks that are centered vertically on the track, we can add our own tick nodes to `verticalSlider` to support this without calling on @private functions and variables.

[2016-03-10 01:25] jessegreenberg commented on #47
Done in commit above, closing.

[2016-03-10 01:25] #47 closed

[2016-03-10 16:49] jessegreenberg commented on #8
This is more of a design question, and can be investigated after the redeploy.  I am unfamiliar with design considerations for this sim.  Perhaps we could investigate limiting the opacity of layered squares.  That would have some performance implications, and I am not sure if that is supported.  Will look into it briefly.

Perhaps there is a pedagogical reason for increasing the opacity as squares

[2016-03-10 17:11] jessegreenberg commented on #8
This isn't supported and it would have some performance implications.

Another options would be to have a single rectangle over the graph area that gets updates to visible sections.  But this is also very difficult to do without constructive area geometry.

[2016-03-10 17:14] jessegreenberg opened #50 "Redeploy Least Squares Regression"
Since i18n issues have been closed and the quick maintenance issues have been resolved, this sim is ready to be redeployed for S2015R.

We can now prepare an RC and create a testing task.

[2016-03-10 23:49] jessegreenberg opened #51 "Add namespace"
Needs namespace.

[2016-03-11 01:36] jessegreenberg commented on #51
Done in commit above.  Closing.

[2016-03-11 01:36] #51 closed

[2016-03-11 01:39] jessegreenberg commented on #50
This redeploy will use SHAS mentioned in https://github.com/phetsims/tasks/issues/476#issuecomment-191927692.

[2016-03-11 02:27] jessegreenberg commented on #50
1.1.0-rc.1 deployed, test task created in https://github.com/phetsims/tasks/issues/542.

[2016-03-15 21:13] phet-steele opened #52 "Best Fit line doesn't update with points on edges of graph"
If you slowly edge a point onto the graph, there is a small area around the border in which you could place the point without the best fit line representation updating. Grabbing another point, or switching to a data set and back, will then properly update the line. "My Line" behaves just fine.

![lsr01](https://cloud.githubusercontent.com/assets/5863899/13794205/57110eba-eac0-11e5-9a1a-27c1fc21596

[2016-03-16 16:45] phet-steele opened #53 "We shouldn't translate credited sources"
@ariel-phet @jessegreenberg the sim currently contains strings that, in my opinion, should not be translated. These strings would be any with a string key ending in ".source" and are used to credit the source of a data set like this:
![lsrsource](https://cloud.githubusercontent.com/assets/5863899/13820605/c267801a-eb63-11e5-87a5-92b8856613b2.PNG)

I'd imagine it would still be okay to translate th

[2016-03-16 17:26] ariel-phet commented on #53
@phet-steele good point.

@jessegreenberg probably best to make sure the actual source reference is not translatable.

[2016-03-16 17:36] phet-steele opened #54 "Proposed change to "Source" string"
Currently the sim displays its source dialogue for data sets with these string keys (in a super simplified Steele friendly way):

source + colonPunctuation + *.source

which would look like:

Source: Some sort of source et al. (1994)

@jessegreenberg the first proposed change I have is to get rid of the colonPunctuation key (with value ": ") and just put the colon into the value of the source stri

[2016-03-16 17:43] phet-steele opened #55 "Extra space in string value"
@jessegreenberg how much of a nit-picky perfectionist can I be? This much:

![lsrheight](https://cloud.githubusercontent.com/assets/5863899/13822635/0835ad9e-eb6c-11e5-86aa-e4c8c212976f.PNG)

There is an extra space before the value of 'heightShoe.yAxisTitle', can you get rid of it :smile:? I doubt it's there for a reason.

[2016-03-16 17:43] jessegreenberg commented on #54
Good catch @phet-steele!  Yes, `Source: {0}` would be much better here.

That change would be trivial, and will be done for the next RC.

[2016-03-23 00:08] jessegreenberg commented on #55
Part of https://github.com/phetsims/tasks/issues/542.

Good catch @phet-steele!

[2016-03-23 00:08] #55 closed

[2016-03-23 00:41] jessegreenberg commented on #53
Good catch @phet-steele.  Fixed in the above commit, to be verified in next RC.

[2016-03-23 00:50] jessegreenberg commented on #54
Done in commit above, to be verified as fixed in next RC.

[2016-03-23 16:16] jessegreenberg commented on #52
Residuals update correctly.  It is only the best fit line that is delayed.

![capture](https://cloud.githubusercontent.com/assets/6396244/13992094/4c8f48c8-f0e0-11e5-9395-7d5965498ab3.PNG)

[2016-03-23 16:33] jessegreenberg commented on #52
updateBestFitLine is called every time data point position changes.  Perhaps linear fit params are not being updated at the right time.

[2016-03-23 16:43] jessegreenberg commented on #52
Ah, when the data point is added to the graph the best fit line is updated before the graph points and residuals.

[2016-03-23 17:57] jessegreenberg commented on #52
Fixed in commit above, to be verified in next RC.

[2016-03-28 18:06] elisemorgan opened #56 "Residual Lines Disappear"
Related to https://github.com/phetsims/tasks/issues/542
Test device: Win 7 Laptop, Bates

Operating System: Win 7 64-bit

Browser: IE 11.0.9600.18230

Problem description: The residual lines disappear after box is clicked.

Steps to reproduce: Select Residuals check box. Lines will disappear once mouse is moved.

Severity:

Screenshots:
![residuals ie](https://cloud.githubusercontent.com/assets/12

[2016-03-28 21:19] phet-steele commented on #56
@jessegreenberg this one may be something specific to that device, maybe hardware or maybe screen size/resolution. Resizing the browser window on the reported device (Bates) no longer presents this problem. Trying IE11 on different devices with different resolutions also does not present this problem.

[2016-03-28 21:20] phet-steele commented on #56
The residuals disappear when the cursor changes from a hand back to a pointer.

[2016-03-28 22:51] jessegreenberg opened #57 "Best fit line residual behavior with undefined slope"
@phet-steele recently pointed this out to me.  There is some varying behavior for the best fit residuals and correlation coefficient when the slope of the best fit line is undefined.  When the best fit line slope is undefined, the best fit line is invisible, but the residuals are still visible.
![capture](https://cloud.githubusercontent.com/assets/6396244/14092506/9d3920c8-f504-11e5-9edc-dff4e0451

[2016-03-29 04:15] ariel-phet commented on #57
@jessegreenberg I think this is an issue that generally does not need to be addressed. It is tough to imagine a meaningful data set where the only data appears at one dependent variable value with multiple points at that one dependent value.

However, I would change the correlation coefficient to just be blank instead of NaN

Basically things about a data fit should get whacky if you only an undef

[2016-03-29 17:44] phet-steele opened #58 "Automated Testing Sim Error (3/29/2016 10:00 AM)"
[code]

[2016-03-30 00:22] jessegreenberg commented on #57
Looks like the denominator is coming up NaN in getPearsonCoefficientCorrelation of PearsonCorrelationCoefficientNode.js.

[2016-03-30 00:27] jessegreenberg commented on #57
Somehow we are trying to take the square root of a negative number in getPearsonCoefficientCorrelation.

[2016-03-30 00:45] jessegreenberg commented on #57
Fixed, `NaN` should not be visible in this case.  Closing.

[2016-03-30 00:46] jessegreenberg commented on #58
Ran fuzz test on sim for ~45 minutes, could not hit this error.

[2016-03-30 00:47] jessegreenberg commented on #58
From error report above, it looks like line 110 of LeastSquaresRegressionModel:

[code]

`thisMode.dataPoints` is getting a duplicate.

[2016-03-30 01:01] jessegreenberg opened #59 "'Set a caption!' on data point bucket"
I noticed this new caption on the bucket in master that is not visible on the deployed version.  Where is this coming from?  Should it really be there?
![capture](https://cloud.githubusercontent.com/assets/6396244/14128712/961116fc-f5e0-11e5-98aa-b1c836cda075.PNG)

[2016-03-30 01:02] jessegreenberg commented on #59
Not in least-squares-regression strings or scenery-phet strings.

[2016-03-30 01:06] jessegreenberg commented on #59
Looks like it is related to https://github.com/phetsims/phetcommon/issues/27.

[2016-03-30 01:07] jessegreenberg commented on #59
Indeed, my mistake.  Fresh pull of phetcommon fixes this. Closing.

[2016-03-30 01:07] #59 closed

[2016-03-30 01:13] jessegreenberg commented on #56
Very strange, @phet-steele are you able to reproduce this with Bates (or any machine) with the deployed version of the sim?

Either way, given the comment https://github.com/phetsims/least-squares-regression/issues/56#issuecomment-202584548, I am inclined to mark as `wontfix`.  @ariel-phet do you agree?

[2016-03-30 02:49] ariel-phet commented on #56
I agree, tried to reproduce on my home machine, no dice. Seems pretty computer specific in that case (and IE is a small user share for us these days).

[2016-03-30 02:49] #56 closed

[2016-03-30 18:18] BryceAG opened #60 "Vertical points cause inconsistent best fit lines"
Test device:
Schrodinger, Curie

Operating System:
Windows 8.1, OSX 10.10.5

Browser:
Chrome, safari

Problem description:
If points are placed vertically, the best fit line will sometimes be horizontal, random sloped line in between the points, or no line. also the correlation coefficient will sometimes be NaN, 0, or blank.

Steps to reproduce:
place two or more points directly vertical to each o

[2016-03-30 19:44] phet-steele commented on #57
@jessegreenberg can we also make the sim not show residuals and squared residuals (for the best-ft line) in the scenario of your first screenshot? In other words, when r is null.

[2016-03-30 20:39] jessegreenberg commented on #60
I am assuming that the second screenshot is the most consistent and desired behavior.

[2016-03-30 22:47] jessegreenberg commented on #58
I can reproduce this now.  Every other time I switch from a real data set to a custom data set we get a duplicate entry in the dataPoints observable array.

[2016-03-30 22:52] jessegreenberg commented on #57
Sure, has been done.  Leaving open to be verified as fixed in the next RC.

[2016-03-30 23:06] jessegreenberg commented on #60
For the first image, we are getting r=0 because this because JavaScript Math.abs( null ) = 0.  We are returning null in getPearsonCoefficientCorrelation, so we need to handle `null` in PearsonCorrelationCoefficientNode.update().

[2016-03-30 23:12] jessegreenberg commented on #60
With commit above, we should never hit NaN or 0.00 for RValue when the coefficient is null.

Now trying to repdroduce cases where the line is visible and has some slope when the data points are exactly vertical.

[2016-03-30 23:32] jessegreenberg commented on #60
In Graph.js we are checking if the xVariance is 0 for if the data points are aligned vertically. But the first image provided can occur if the xVariance is -2.7e-17, which .  Instead of 0 we should be checking for a precision threshold.

[2016-03-30 23:45] jessegreenberg commented on #60
With the above commit I am unable to reproduce the first or third cases. The second image is the only behavior when data points are stacked.  Leaving open until verified as fixed with testing in the next RC.

[2016-03-31 00:42] jessegreenberg commented on #58
In LeastSquaresRegressionModel,

[code]

thisModel.graph.dataPointsOnGraph is getting each data point twice.

[2016-03-31 01:16] jessegreenberg commented on #58
Since

[code]

was added to the position listener, we were adding all data points individually and then adding them in bulk via https://github.com/phetsims/least-squares-regression/issues/58#issuecomment-203173040.

To fix this, we can lazyLink the position listener so that data points are not immediately added to the graph when the position changes, and we can still add them all in bulk for perfo

[2016-03-31 01:24] jessegreenberg commented on #58
It is noticeably faster on my machine now that we are only adding in bulk.

[2016-03-31 01:25] jessegreenberg commented on #58
This has been resolved, closing.

[2016-03-31 01:25] #58 closed

[2016-03-31 01:28] jessegreenberg commented on #50
1.1.0-rc.1 finished testing in phetsims/tasks#542.  All open issues are fixed-pending-testing, and we are ready for another RC.  Changes from master will need to be cherry-picked to 1.1, and then an RC can be deployed.

[2016-03-31 16:28] jessegreenberg commented on #50
1.1 branch patched with the necessary commits form master.  Here is the newest RC, to be tested in a new test task.

http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.2/least-squares-regression_en.html

[2016-03-31 17:44] jessegreenberg commented on #50
Test task created: https://github.com/phetsims/tasks/issues/561

[2016-03-31 19:20] phet-steele commented on #52
@jessegreenberg visually, yes, this issue is resolved in 1.1.0-rc.2. However, computationally the sim still fails to update with edge points. Specifically the best-fit line equation, squared residuals sum, and correlation coefficient fail to update.

[2016-03-31 19:59] phet-steele opened #61 "Change to rEquals string"
The string value for `rEquals` is "r =". @jessegreenberg agreed that it would be better to take out the equals sign so it could not be accidentally removed by a translator. The new value could be "r" and a new string key could be `r`.

[2016-03-31 20:24] phet-steele commented on #53
Source strings are not in the strings JSON file anymore, so I'd say this is fixed in 1.1.0-rc.2.

[2016-03-31 20:24] #53 closed

[2016-03-31 20:25] phet-steele commented on #54
Pattern is working as expected in 1.1.0-rc.2.

[2016-03-31 20:25] #54 closed

[2016-04-07 16:52] jessegreenberg commented on #61
Should be fixed in the commit above.

[2016-04-07 18:55] jessegreenberg commented on #52
The control panel readouts should now update at the correct time.

[2016-04-07 21:32] jessegreenberg commented on #50
RC.2 was immediately rejected.  Dev version was published to verify that remaining bugs have been resolved before going through full RC process.

[2016-04-07 21:32] jessegreenberg commented on #50
Here is the task: https://github.com/phetsims/tasks/issues/570

[2016-04-08 16:32] phet-steele commented on #61
Yup.

[2016-04-08 16:32] #61 closed

[2016-04-08 16:38] phet-steele commented on #52
They do.

[2016-04-08 16:38] #52 closed

[2016-04-08 17:37] phet-steele opened #62 "No r value at a slope of zero"
1. Put two points directly on top of each other.
2. Drag one point out horizontally, very carefully. Moving the smallest amount vertically ruins this.
3. The best-fit line will have an equation, but the correlation coefficient will be blank or zero.
4. One can continue to carefully drag horizontally as far as they want, all while r never updates.

![noratzero](https://cloud.githubusercontent.com/a

[2016-04-08 17:52] phet-steele commented on #60
Works for me.

[2016-04-08 17:52] #60 closed

[2016-04-08 17:52] phet-steele commented on #57
Verified fixed..

[2016-04-08 17:52] #57 closed

[2016-04-08 23:10] jessegreenberg commented on #50
Dev test verified that all issues have been resolved, but @phet-steele found a new one:
https://github.com/phetsims/least-squares-regression/issues/62

[2016-04-08 23:16] jessegreenberg commented on #62
this.graph.getPearsonCoefficientCorrelation() is returning null in this case, so the string is empty.

[2016-04-09 00:29] jessegreenberg commented on #62
Actually, a horizontal line is _supposed_ to have an undefined pearson correlation coefficient. http://mathworld.wolfram.com/CorrelationCoefficient.html

For a horizontal line, `r = ∑((X - My)(Y - Mx)) / √((SSx)(SSy))` results in 0/0 which is undefined.  So this issue is that it is _not_ showing undefined for a horizontal line consistently.

[2016-04-09 00:37] jessegreenberg commented on #62
Looks like the update function was returning early without updating the text which is why we would occasionally see +/- 1.00 for a horizontal line. We are still observing +/- 0.00 sometimes for a horizontal line.  This is likely due to a presision issue in Graph.getPearsonCorrelationCoefficient()

[2016-04-09 00:41] jessegreenberg commented on #62
Indeed, when we hit this case the denominator is 1.909526758130271e-21 when it should be 0.

[2016-04-12 23:04] jessegreenberg commented on #62
This should be fixed with the above commits.  Closing.

[2016-04-12 23:04] #62 closed

[2016-04-12 23:05] jessegreenberg commented on #50
#62 closed, all open issues have been closed and we are ready for a new RC.

[2016-04-13 00:26] jessegreenberg commented on #50
rc.3 published with a task for testing here: https://github.com/phetsims/tasks/issues/576

[2016-04-13 17:29] elisemorgan commented on #62
@jessegreenberg I am still seeing empty r, +0, and -0 for a horizontal line.
![screen shot 2016-04-13 at 11 27 46 am](https://cloud.githubusercontent.com/assets/12610678/14502933/061d8742-016b-11e6-9747-00e93f4d7a7d.png)
![screen shot 2016-04-13 at 11 27 30 am](https://cloud.githubusercontent.com/assets/12610678/14502935/065b293a-016b-11e6-935b-fc7dc70154f1.png)
![screen shot 2016-04-13 at 11 27 2

[2016-04-13 17:30] elisemorgan commented on #62
Creating a new issue since I can't reopen this one https://github.com/phetsims/least-squares-regression/issues/63

[2016-04-13 17:36] elisemorgan opened #63 "r for horizontal line"
Related to https://github.com/phetsims/tasks/issues/576

Test device: Mac, Dirac

Operating System: OS X 10.9.5

Browser: Safari 9.0 (9537.86.1.56.2)

Problem description: The r value for a horizontal line will show as blank (undefined), +0, or -0. It seems from @jessegreenberg in https://github.com/phetsims/least-squares-regression/issues/62 that it should always be undefined.

Steps to reproduce

[2016-04-13 17:38] brroberts1231 opened #64 "Sum bar for My Line doesn't update immediately"
Test device: Schrodinger

Operating System: Windows 8

Browser: Chrome

Problem description: The sum bar under My Line remains blank after points are added to the graph until one of the sliders is dragged. Also, if you add more points onto the graph after updating the first time, it still won't update for those new points until adjusted again.

Steps to reproduce: In custom, check My Line, and adj

[2016-04-13 18:54] jessegreenberg commented on #63
I believe this is the intended behavior.  For

`r = ∑((X - My)(Y - Mx)) / √((SSx)(SSy))`  Where `(SSx)  = ∑(X - Mx)^2`and `SSy = ∑(Y - My)^2`,

`√((SSx)(SSy))` equates to zero when the points are all perfectly horizontal, so r = NaN, as in the first image from  https://github.com/phetsims/least-squares-regression/issues/62#issuecomment-209556082.  But `√((SSx)(SSy))` is non zero for the last two i

[2016-04-13 19:07] jessegreenberg commented on #64
Yikes, good catch @brroberts1231.  This should be fixed in the above commit.

[2016-04-18 20:36] jessegreenberg commented on #63
@ariel-phet would you mind reviewing this issue and behavior before I publish the next RC?

[2016-04-18 21:44] ariel-phet commented on #63
The behavior seems correct and acceptable to me.

For just 2 points, 2 points will always be on a line, so if that line's slope happens to be zero, the correlation is undefined.

If multiple points are on a zero slope line (a horizontal line), the correlation is basically zero (one value is completely not affecting the other). For example if you were plotting the value of the speed in light in vac

[2016-04-18 21:44] #63 closed

[2016-04-19 18:01] phet-steele commented on #64
Fixed in 1.1.0-rc.4, thanks @jessegreenberg @brroberts1231.

[2016-04-19 18:01] #64 closed

[2016-04-19 23:44] jessegreenberg commented on #50
Testing found another issue in rc.3, and rc.4 was deployed for spot checking.  rc.4 passed through the spot checking to verify that issue was resolved and still working on all platforms.  rc.4 is ready for redeploy.

[2016-08-25 23:24] pixelzoom opened #65 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:33] pixelzoom commented on #65
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:33] #65 closed

[2016-08-29 19:31] pixelzoom opened #66 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-30 14:01] veillette commented on #66
The sliders were adjusted slightly to prevent them from overlapping.
Closing.

[2016-08-30 14:01] #66 closed

[2016-09-01 15:09] jessegreenberg commented on #50
This sim was redeployed months ago as part of S2015R, this issue should have been closed.

[2016-09-01 15:09] #50 closed

[2016-09-29 16:20] oliver-phet opened #67 "Question about string: 'Average Spending Per Pupil'"
Submitted by Sandor.

@amanda-phet Can you comment on exactly what this string means? I dug around a bit and it seems that there are two metrics: "Expenditure per pupil in average daily attendance" and "Expenditure per pupil in fall enrollment" is it one of these, or another?

This is relevant for translations of these strings.

I looked in the design doc and couldn't find the exact source.

[2016-09-29 17:16] amanda-phet commented on #67
"average spending per pupil" is the state expenditure per student in a given school year. So, the amount a state spends per enrolled student per year.

[2016-09-29 17:31] oliver-phet commented on #67
Should this be clarified in the '?' popup that the sim provides? It seems pretty ambiguous to me and it is probably even more so to translators.

[2016-09-29 17:55] oliver-phet opened #68 "User reported issue: x-axis for US gas price vs time"

[2016-09-29 18:04] oliver-phet commented on #68
@amanda-phet Can you verify it should be 1979? Then we can have someone do a maintenance release?

[2016-09-29 18:16] amanda-phet commented on #68
You're correct. It should be 1979. There was a typo in the design doc!

[2016-09-29 18:22] amanda-phet commented on #67
Should we say "expenditure" instead of "spending"?

[2016-09-29 18:26] oliver-phet commented on #67
What about "average state expenditure per pupil"?

[2016-09-29 18:36] amanda-phet commented on #67
It is a long string for the y-axis, but should be fine.

Should we also change the dialog to say: "average per-pupil expenditure is compared to average teacher salaries in fifty US states in 1986."?

[2016-09-29 18:48] oliver-phet commented on #67
I think that could work!

[2016-09-29 18:53] oliver-phet commented on #67
What about paralleling this dialog to the 'Life Expectancy vs TVs':
"Average per-pupil expenditure in 50 US states is compared to average teacher salaries in those states in 1986."?

[2016-10-05 15:52] amanda-phet commented on #67
Sounds great. Thanks for your suggestions @oliver-phet .

[2016-12-14 19:30] jessegreenberg commented on #12
Closing, this is being tracked now in https://github.com/phetsims/sun/issues/155.

[2016-12-14 19:30] #12 closed

[2017-04-08 18:41] veillette opened #69 "points failed to return inside bucket"
![image](https://cloud.githubusercontent.com/assets/7633344/24831523/ed5c201e-1c68-11e7-8ed4-2bbe598e4d57.png)

Step to reproduce: simply click on the bucket without dragging.
The points will stay on. It doesn't affect any functionalities, but it appears odd.
Pressing the eraser does not have any effects on the points.
On the positive side, pressing the reset button makes the points disappear.

[2017-04-08 18:59] veillette commented on #69
the regression was introduced in https://github.com/phetsims/least-squares-regression/commit/6ea98ac844efad8e4a87cd78acf1f86a7b3a8398 to try to prevent zero-length tweens.

Addressing the case of zero length distance in DataPoint.js  resolves the issue.
[code]

Closing.

[2017-04-08 18:59] #69 closed

[2017-04-19 19:15] amanda-phet opened #70 "Suggestion: allow user to show/hide scale on axes"
While in "custom" mode, the scale on the axes is [0, 20] for both x and y. If someone is attempting to create a data set that could represent real data, they are pretty limited by those numbers. However if we could hide the scale, users could imagine that the scale is something different (such as years).

Being able to customize the scale would also be nice, but being able to simply hide it seems

[2017-04-20 19:11] veillette commented on #68
This was corrected in the sim.

[2017-04-20 19:11] #68 closed

[2017-04-20 19:14] veillette commented on #67
The title and y-axis were changed. Assigning to @amanda-phet  for review.

[2017-04-20 19:14] oliver-phet commented on #68
@phetsims/martin let me know when this is published and I can contact the user.

[2017-04-20 19:17] veillette commented on #70
Although it is possible to hide the x-and y axis, the equation for the fit is still present.  The  numerical value for the slope and the intercept depends on the scale on the axes.

[2017-07-20 15:53] phet-steele opened #71 "Double-adding input listeners for Plane"
@jonathanolson is responsible-dev. See phetsims/scenery/issues/651.
[code]

[2017-07-26 16:16] jonathanolson commented on #71
Fixed.

[2017-07-26 16:16] #71 closed

[2017-08-30 23:52] jessegreenberg opened #72 "Unlinking listener that is undefined"
From https://github.com/phetsims/axon/issues/132, in LeastSquaresRegressionModel we try to dispose ```dataPoint.positionListener```, while the listener is undefined, and it doesn't look like the listener is defined anywhere in the sim.

[2017-08-31 00:12] jessegreenberg commented on #72
It looks like in this commit ```dataPoint.positionListener``` was renamved to  ```dataPoint.positionUpdateListener```, so Ill change the references in dispose.

https://github.com/phetsims/least-squares-regression/commit/b011ea891707926519596f20ecd3478813ccb8a6

[2017-08-31 00:16] jessegreenberg commented on #72
Hmm, I am a little confused by how listeners are added and removed here.  And it looks like ```dataPoint.returnedToOriginListener``` is never removed?

[2017-08-31 16:13] jessegreenberg commented on #72
Fixed above, and I also removed the ```returnedToOriginListener``` when the data point is removed from the model. Closing.

[2017-08-31 16:13] #72 closed

[2017-10-06 17:30] phet-steele opened #73 "Tried to removeListener on something that wasn't a listener"
On master:

1. Place a point on the graph.
2. Switch to a preset (so leave Custom).
3. Switch back to Custom.
4. Drag the point off the graph.

[code]

[2017-10-06 17:38] phet-steele opened #74 "Overlapped points cause them to detach from residuals"
1. Place at least three points on the graph where two points are basically entirely overlapping.
2. Switch to a preset (so leave Custom).
3. Switch back to Custom.
4. Turn on Residuals and Squared Residuals.
4. Drag the point that isn't involved in the overlap. It will be detached from its residuals. (no errors thrown)

![lsr01](https://user-images.githubusercontent.com/5863899/31290743-d76716b4-a

[2017-10-06 17:42] amanda-phet commented on #67
Looks good!

@oliver-phet do you want to let Sandor know about the change once a maintenance release happens?

[2017-10-06 17:44] oliver-phet commented on #67
Yes, I'll email him. Can you let me know when the maintenance release happens?

[2017-10-06 17:46] amanda-phet commented on #67
Sure. I have no idea when that will happen, but I'll let you know when it does, and will keep this issue open to remind me.

[2017-10-12 18:47] oliver-phet opened #75 "User suggestion: pin My Line to Mean Point"

[2017-10-12 18:48] oliver-phet commented on #75
Assigning to @amanda-phet to review and comment.

[2017-10-12 20:40] amanda-phet commented on #75
There are a lot of features like this that would be great to include (although it would require a different screen), we just don't have the resources right now to devote to designing and developing a new screen for this sim.

I'll leave the issue open to consider in the future if we get a grant that could be applied toward adding this feature.

[2017-10-13 18:08] oliver-phet commented on #75
Email to user sent.

[2017-10-23 16:37] pixelzoom commented on #73
Still a problem as of 10/23/17.  Probably related to https://github.com/phetsims/axon/issues/132 or https://github.com/phetsims/axon/issues/140.

[2017-10-23 17:19] jonathanolson commented on #73
The `positionUpdateListener` handling for this sim is all sorts of weird.

There is no `positionUpdateListener` field declared on DataPoint, but it is defined ad-hoc whenever `Graph.addPointAndResiduals` is called:
[code]
and then there are 3(!) different locations it is unlinked:
- In Graph.removePointAndResiduals (the natural place for it)
- LeastSquaresRegressionModel.dispose()
- dataPoint.retu

[2018-03-27 18:54] amanda-phet opened #76 "info button should use common component"
Next to the selected data set is an "info" button.

<img width="355" alt="image" src="https://user-images.githubusercontent.com/7852916/37988331-e33929fe-31bd-11e8-9b74-169ea21d2dd3.png">

This should use the new common info button. https://github.com/phetsims/scenery-phet/issues/363

[2018-04-09 22:29] oliver-phet opened #77 "User suggestion: slider y intercept range"
![screenshot--leastsquaresregression-2018apr09](https://user-images.githubusercontent.com/5090275/38526326-09b49b40-3c13-11e8-877b-41072c0a9ed8.PNG)

[2018-09-19 15:20] samreid opened #78 "Convert TWEEN to Twixt"
As discussed in https://github.com/phetsims/joist/issues/387#issuecomment-419600722, it would be nice to use Twixt instead of TWEEN.  This sim has 1 occurrence of `new TWEEN.Tween(...)`.  Assigning to the responsible dev.  After completing this issue, check if the hold on https://github.com/phetsims/joist/issues/387 can be removed (if this was the last "Convert from TWEEN to Twixt" issue).

[2018-10-24 15:37] amanda-phet commented on #75
Just had another user email with the same suggestions (perhaps the same user?)

[2019-04-15 18:40] KatieWoe opened #79 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Overlap of pointer areas for residuals and squared residuals
* These can sometimes be hard to press as well

Screenshots:
![Image from iOS

[2020-06-22 18:28] DianaTavares opened #80 "the '\n' in the Correlation Coefficient translation is not working"
The PhET Translation Utility for the Least-Square Regression Strings uses several '\n' in the text that works very well for the ones in the dialog texts. For example for Temperature (˚F) vs. Latitude:

![Screen Shot 2020-06-22 at 1 20 49 PM](https://user-images.githubusercontent.com/26031501/85322116-653a6100-b48b-11ea-8a33-623e1fde606c.png)
![Screen Shot 2020-06-22 at 1 21 04 PM](https://user-ima

[2020-10-12 21:51] pixelzoom opened #81 "SourceAndReferenceNode should not be a ScreenView"
Noticed while converting ScreenView subclasses to ES6 `class` for https://github.com/phetsims/tasks/issues/1044.

`SourceAndReferenceNode` is used in LeastSquaresRegressionScreenView.js to display a dialog, like the one shown below. Why does `SourceAndReferenceNode extends ScreenView`?  Shouldn't it be a Dialog?

<img width="961" alt="screenshot_579" src="https://user-images.githubusercontent.com/

[2020-11-12 21:46] amanda-phet commented on #67
Un-assigning until this sim has a maintenance release.

[2020-11-13 01:23] amanda-phet commented on #77
Un-assigning until we decide to do a maintenance release on this sim.

[2021-08-31 15:47] KatieWoe opened #82 "CT all returned solveCubicRootsReal roots should be finite"
[code]

[2021-08-31 15:48] KatieWoe commented on #82
Sorry, this belongs in kite. Misread row.

[2022-10-14 11:28] veillette opened #83 "SceneryPhet/GridCheckbox should be leveraged"
The GridIcon and its invocation in a checkbox should be replaced by the common code GridCheckbox.
Discovered while working on https://github.com/phetsims/scenery-phet/issues/777

[2022-10-14 11:59] veillette commented on #83
In order to use the Scenery-Phet gridcheckBox, I has to adjust the gridSize and gridStroke to match the least-squares-regression grid Icon.
[code]

Making a visual comparison:

Using SceneryPhet/GridCheckBox
![Least-Squares Regression screenshot (2)](https://user-images.githubusercontent.com/7633344/195840158-c2ae129b-2660-4b31-9884-8026ef9f82c4.png)

Using Least-Squares-Regression/GridIcon
![Leas

[2022-10-14 12:37] veillette commented on #76
While working on common code components in https://github.com/phetsims/least-squares-regression/issues/83, I noticed this issue.

There are color options for the info button. Below are three standard colors as shown in https://github.com/phetsims/scenery-phet/issues/363

For the record, the default one is the black one. Which one would you prefer?

[2022-10-17 21:43] amanda-phet commented on #76
I usually choose the blue color when I use this button. I have used it in math sims on game screens, and will be in another upcoming math sim, and I always choose blue. I wonder which sims use black? Should we make blue the default @arouinfar ?

[2022-10-17 21:48] amanda-phet commented on #83
@veillette this looks totally fine to me.

Could we see if the default GridCheckbox is adequate? I looked at two sims that use GridCheckbox (I think) and it looks pretty similar to this one. Was the main difference the stroke color? If so, maybe we should stick with the default color, for consistency between sims?

[2022-10-17 22:14] arouinfar commented on #76
I think I've only used the blue version in the sims I've designed (pendulum-lab, masses-and-springs, fourier-making-waves), though I've seen other colors used in [Build a Nucleus](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.1/phet/build-a-nucleus_en_phet.html):
<img width="166" alt="image" src="https://user-images.githubusercontent.com/8419308/196293568-594d25b6-373a-4e11-a3d9-5e9cf4f86

[2022-10-19 13:41] veillette commented on #83
The main difference is the stroke color and the size (it is quite a  bit larger than the default, 48 instead of 30).
The default color is rgb( 100, 100, 100 ) for the gridCheckBox but least squares regression uses rgb( 128, 128, 128 ).
However, that very same color is also used for the major grid stroke on the graph. I don't know if that affects your decision.

I included screenshots (with a porti